*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-block: 16px;
}

.header{
    background-color: rgb(108, 35, 133);   
    padding-inline: 16px;
}   

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 48px;
}

.hero{
    height: calc(100vh - 70px);
    background: center / cover no-repeat url(assets/bg.jpg);
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3.4px solid white;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";   
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
}

@media (max-width: 750px){
    .hamburguer{
        display: block;
        z-index: 1;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(151, 57, 210);
        clip-path: circle(100px at 90% -15%);
        transition: 0.6s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all ;
    }
}